/* --footer */

	.footnote {
		padding-bottom:2em;
		max-width:320px;
		margin-left:auto;
		margin-right:auto;
		color:@white;
		.disclaimer {
			.fontcalculate(11);
			dd {
				text-align:right;
			}
		}

		.biglinks {
			.flex;
			.flex-direction(row);
			.justify-content(space-around);
			.fontcalculate(32);
			a {
				position:relative;
				color:@blueLight;
				.transition(all @transpeed);

				&:hover {
					color:@white;
					.lilpopup {
						.transform(translateX(-50%) rotateY(0deg));
					}
				}
				.lilpopup {
					position:absolute;
					bottom:100%;
					left:50%;
					padding:0.5em;
					min-width:80px;
					margin-bottom:5px;
					border-radius:2px;
					box-shadow:0 5px 5px rgba(0,0,0,0.5);
					.transition(all @transpeed);
					.transform(translateX(-50%) rotateY(180deg));
					.fontcalculate(12);
					backface-visibility:hidden;
					//background:@white;
					.vertical-gradient(@white,0%,#DDDDDD,100%);
					text-align:center;
					color:@blue;
					&:before {
						content:"";
						position:absolute;
						top:100%;
						left:50%;
						border-style:solid;
						border-width:5px;
						border-color:#DDDDDD transparent transparent transparent;
						.transform(translateX(-50%));
					}
				}
			}
		}
	}


	.footer {
		.transform( scaleY(-1) );
		.vertical-gradient(@blue, 0%, @blueLight, 100%);
		.footerinner {
			min-height:100px;
			background:url('../img/header.svg') no-repeat 50% 100%;
			background-size:auto 75%;
		}
	}

@media @tabletWidth{
}

@media @mobileWidth{
	.footer {
		.footerinner {
			background-size:auto 60%;
			background-position:30% 100%;
		}
	}
}
