/* --variables */

    /* colours */
    @black: #000000;
    @blackLight:#333333;
    @white: #FFFFFF;
    @orange: #ec7600;

	@transpeed: 0.3s;

	/* breakpoints */
	@tabletWidth: ~"(max-width:767px)";
	@mobileWidth: ~"(max-width:480px)";

	/* Mobile First breakpoints */
	@mobileSmall: ~"only screen and (min-width: 320px)";
	@mobile: ~"only screen and (min-width: 480px)";
	@tablet: ~"only screen and (min-width: 768px)";
	@tabletLrg: ~"only screen and (min-width: 992px)";
	@desktop: ~"only screen and (min-width: 1200px)";